/*******************************************************
 * SUMÁRIO DO STYLE
 *
 * 1. GERAL
 * 2. LADO ESQUERDO (botões de cadastro e captcha)
 * 3. LADO DIREITO (Bem vindo, imagem e botão de cadastrar)
 * 4. RESPONSIVIDADE MOBILE (425px/620px)
 /* ********************************************************/

/*===================================================
1. GERAL
===================================================*/
body {
    background-color: var(--bege-claro);
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 10%;
}

/* ................................................... */


/*===================================================
2. LADO ESQUERDO (botões de cadastro e captcha)
===================================================*/
.lado-esquerdo {
    width: 45vw;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    align-items: center;
    margin-top: 20vh;
    padding-right: 15vw;
}

.texto-botao {
    font-family: var(--Poppins);
    font-size: 1.5rem;
    color: var(--marrom);
    font-weight: 700;
    white-space: nowrap;
}

.cadastro {
    width: 31vw;
}

.cadastro-botao {
    height: 10vh;
    width: 31vw;
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    background-color: var(--cinza-claro-azulado);
    border: 3px solid var(--cinza-azulado);

}

.cadastro-botao:hover {
    background-color: var(--botao-ativo);
    height: 10.5vh;
    width: 31.5vw;
    cursor: pointer;
    transition: all 0.3s ease;

}

#telefone {
    align-items: center;
    justify-content: center;
}

.img {
    height: 9vh;
    width: 3vw;
    margin: 4%;
}

#display-none {
    display: none;
}

.linha-divisoria {
    display: flex;
    width: 30vw;
    height: 0.5vh;
    background-color: var(--cinza-claro-azulado);
    border-radius: 5px;
}

.botao-robo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1vw;
    height: 13vh;
}

.botao-robo:hover {
    height: 13.5vh;
    cursor: pointer;
    transition: all 0.3s ease;
}

.checkbox-robo {
    margin-right: 10%;
    width: clamp(1rem, 2.4vw, 3rem);
    height: clamp(1rem, 2.4vw, 3rem);
    cursor: pointer;
    appearance: none;
    border: 3px solid var(--cinza-azulado);
    background-color: #FFFF;
    border-radius: 10px;
}

.checkbox-robo:checked {
    position: static;
    background-image: url(../img/svg/check.svg);
    background-size: 2vw;
    background-repeat: no-repeat;
    background-position: center;
}

.robo-img {
    width: 5vw;
    height: 9vh;
    margin: 5% 0% 5% 5%;
}

/* ................................................... */


/*===================================================
2. LADO DIREITO (Bem vindo, imagem e botão de cadastrar)
===================================================*/

.lado-direito {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    height: 90vh;
    width: 35vw;
    border: 5px solid var(--borda-azul-escura);
    border-radius: 25px;
    background-color: var(--cinza-azulado);
    gap: 1.4vw;
    padding: 10% 10% 20% 10%;
}

.logo-img {
    width: clamp(10vw, 13vw, 20rem);
    height: auto;
    border-radius: 500px;
    border: 3px solid var(--marrom);
}

.texto-titulo {
    font-size: clamp(2rem, 2.5rem, 4rem);
    font-family: var(--Lobster);
    font-weight: 100;
    color: var(--bege-claro);
    text-align: center;
}

.texto-pequeno {
    font-size: clamp(1vw, 1.25rem, 1.5rem);
    font-family: var(--Poppins);
    font-weight: 600;
    color: var(--branco);
    text-align: center;
    margin-bottom: 3vh;
}


.gardenia-botao {
    width: 95%;
    padding: clamp(.3vh, .1vw, 1rem);
    border-radius: 1vw;
    border: .2vw solid var(--borda-azul-escura);
    background-color: var(--cinza-claro-azulado);

}

.gardenia-botao:hover {
    cursor: pointer;
    background-color: transparent;
    border: .2vw solid var(--cinza-branco);
    color: var(--cinza-branco);
}

.gardenia-botao:active {
    background-color: var(--botao-ativo);
}

/* ................................................... */


/*===================================================
2. LADO ESQUERDO (botões de cadastro e captcha)
===================================================*/
@media (max-width: 600px) {


    body {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }


    main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .lado-direito {
        height: 100vh;
        width: 100vw;
        margin: 0;
        border: none;
        border-radius: 0;
    }

    .logo-img {
        width: 40vw;
        margin: 5vh;
    }

    .texto-titulo {
        margin: 5vh 0 3vh 0;
        font-size: clamp(2vw, 5.2vw, 4rem);
        width: 40vw;
    }

    .texto-pequeno {
        font-size: 85%;
        margin: 0 0 5vh 0;
        width: 60vw;
    }

    .gardenia-botao {
        width: 50vw;
        height: 5vh;
        padding: clamp(.1vh, .3w, 1rem) 0;
        border: 3px solid var(--borda-azul-escura);
        border-radius: 10px;
    }



    .lado-esquerdo {
        padding: 0;
        margin: 10vh 0 10vh 0;
        width: 90vw;
        gap: 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .cadastro-botao {
        width: 70vw;
        height: clamp(5vh, 8vh, 20rem);
    }

    .cadastro {
        width: 80%;
        height: clamp(5vh, 15vw, 30rem);
    }

    .img {
        width: clamp(3vw, 5vw, 10rem);
        margin: 0 5% 0 5%;
    }

    .texto-botao {
        font-size: 1rem;
    }

    #telefone {
        justify-content: center;
    }

    .telefone-img {
        margin-right: -3%;
    }

    .botao-robo {
        height: 10vh;
    }

    .robo-img {
        width: 10vw;
        height: 6vh;
        margin: 0 0 0 2%;
    }


    .checkbox-robo {
        width: clamp(1.2rem, 2.5vw, 5rem);
        height: clamp(1.2rem, 2vw, 5rem);
    }

    .checkbox-robo:checked {
        background-size: 4vw;
    }
}