<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/contato.css">
</head>
<body>
    <header class="cabecalho-contato">
        <img src="assets/img/logo.gardenia.png" alt="" class="logo">
        <div class="buscar-container">
            <input type="search" name="busca" id="busca" placeholder="O que você está buscando?" class="campo-busca">
            <img src="assets/svg/lupa.svg" alt="lupa" onclick="" class="img-lupa">
        </div>
        <div class="carrinho">
            <p class="carrinho-texto">Carrinho</p>
            <img src="assets/svg/carrinho.svg" alt="" class="icone-carrinho">
        </div>
        <div class="conta">
            <p class="conta-texto">Minha conta</p>
            <img src="assets/svg/pessoa.svg" alt="" class="icone-conta">
        </div>
    </header>
    <div class="barra-separadora"></div>
    <main class="contato">
        <aside class="informacoes">
            <p class="titulo-informacoes">Contato</p>
            <ul class="contatos">
                <li class="linha whatsApp">
                    <img src="assets/svg/whatsapp.svg" alt="" class="icone-contato">
                    <p class="texto-informacoes">5535998300652</p>
                </li>

                <li class="linha telefone">
                    <img src="assets/svg/telefone.svg" alt="" class="icone-contato">
                    <p class="texto-informacoes">35 3464-1020</p>
                </li>

                <li class="linha email">
                    <img src="assets/svg/email.svg" alt="" class="icone-contato">
                    <p class="texto-informacoes">gardeniacrochet86@gmail.com</p>
                </li>

                <li class="linha localizacao">
                    <img src="assets/svg/localizacao.svg" alt="" class="icone-contato">
                    <p class="texto-informacoes">R.Niteroi, 180 - São Caetano do Sul/SP. 09510-200</p>
                </li>
            </ul>
        </aside>
        <aside class="inserir-mensagem">    
            <form action="" class="mensagem">
                <ul class="lista-inserir">
                    <li class="inserir">
                        <label for="email" class="titulo-caixa">E-mail:</label>
                        <input type="email" name="email" id="inserir-dados" placeholder="email@email.com">
                    </li>
                    <li class="inserir">
                        <label for="telefone" class="titulo-caixa">Telefone:</label>
                        <input type="tel" name="telefone" id="inserir-dados" placeholder="(00) 9999-8888" >
                    </li>
                    <li class="inserir">
                        <label for="mensagem" class="titulo-caixa">Mensagem:</label>
                        <input type="text" name="mensagem" id="inserir-dados" placeholder="Digite sua mensagem aqui">
                    </li>
                </ul>
                <button type="submit" class="botao-envio">ENVIAR</button>
            </form>


        </aside>
    </main>
    <!-- colocar um background no footer -->
    <footer>
        <img src="assets/svg/instagram.svg" alt="" class="svg-footer instagram">
        <img src="assets/svg/facebook.svg" alt="" class="svg-footer facebook">
    </footer>
</body>

</html>