/*!===================*/
/*!===== Lobster =====*/
/*!===================*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*!===================*/
/*!===== Poppins =====*/
/*!===================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body
{
    color: var(--marrom);
    background-color: var(--bege-claro);
}

/*!===================*/
/*!===== Header =====*/
/*!===================*/

.cabecalho
{
    width: 100%;
    position: fixed;
}

.navegacao
{
    display: flex;
    color: var(--cinza-branco);
    background-color: var(--cinza-azulado);
    box-shadow: 0 0 15px rgba(0,0,0,0.65);
    height: 130px
}

.barra-topo
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

.logo-header
{
    margin-left: 30%;
    height: 100px;
    width: 100px;
    border: 2px solid var(--marrom);
    border-radius: 90px;
    transition: transform 0.3s ease;
}

.logo-header:hover
{
    transform: scale(1.10);
}

.logo-header:active
{
    border: solid 1px var(--vermelho-escuro);
    border-radius: 90px;
}

.linha-separadora-1
{
    margin-left: 50px;
    height: 100px;
    width: 6px;
    border: none;
    background-color: var(--cinza-claro-azulado);
}

.linha-separadora-2
{
    height: 100px;
    width: 6px;
    border: none;
    background-color: var(--cinza-claro-azulado);
}

.lista-menu
{
    list-style: none;
    align-items: center;
    display: flex;
    gap: 13.3%;
}

.lista-menu a
{
    color: white;
}

.poppins
{
    font-family: var(--Poppins);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
}

.poppins:hover
{
    color: var(--vermelho-escuro);
    transition: .2s;
}

.contato
{
    display: none;
    font-size: 0px;
}

.perfil
{
    display: flex;
    align-items: center;
    gap: 20%;
}

#perfil
{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--Poppins);
}

.perfil-texto
{
    color: #fff;
    text-decoration: none;
}

.perfil-texto:hover
{
    color: var(--vermelho-escuro);
    transition: .2s;
}

.perfil-foto
{
    height: clamp(4rem, 5vh, 8rem);
    width: clamp(4rem, 5vh, 8rem);
}

.perfil-foto:hover
{
    transform: scale(1.05);
    transition: transform 0.1s ease;
    border: solid 3px var(--vermelho-escuro);
    border-radius: 90px;
}

.perfil-foto:active
{
    border: none;
    transform: scale(0.95);
}

button
{
    background: none;
    border: none;
    cursor: pointer;
}

/*!===================*/
/*!===== Boa Sorte :D =====*/
/*!===================*/