@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




body {
  background-color: var(--bege-claro);
  color: var(--cinza-azulado);
}

.tela {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10vh;
}


.tela-esquerda {
  padding: 1vh;
  margin: 8% 0 10% 1%;
      /*  5vh 0 1vh 6vh; */
}


.tela-esquerdaa {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 3vh;
  margin: 0.09vh 1vh 0vh 1vh;

}

.forma-pagamento {
  font-family: "Lobster", sans-serif;

  font-size: 10vh;
  font-weight: 100;
  color: var(--marrom);
  width: 50vh;
  white-space: nowrap;
}

.line2 {
  /* width: 175%;
  border-bottom: 0.5vw solid var(--marrom);
  border-radius: 0.2vw; */


  border-radius: 0.2vw; 
  width: 175%;
  height: 0.8vh;
  
  background-color: var(--marrom); /* cor da linha */
}

.texto-esquerda {
  font-family: "Lobster", sans-serif;
  font-size: 9vh;
  font-weight: 100;
  color: var(--marrom);
}

.linha {
  border-bottom: 0.5vw solid var(--marrom);
  border-radius: 0.2vw;
}

.svg {
  height: 9vh;
  
}

.piX
{
  /* margin-left: 5vh; */
}

.pix {
  height: 11vh;
}

.seta
{
  height: 6vh;
  
  display: flex;
  align-items: center;
  
  justify-content: center;
  margin-top: 1vh;
  transition: transform 0.4s ease;
}

.seta:hover
{
transform: rotate(90deg);

}
.quadros {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.aba {
  background-color: var(--cinza-claro-azulado);
  border-radius: 2vh;
  padding: 1vh 2vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tela-direita
{
  padding: 1vh;
  margin: 4% 0% 10% 35%;

}

.tela-direitaa
{
  display: flex;
  flex-direction: column;
  column-width: 5vh;
  margin: 0.09vh 1vh 0vh 1vh;

  
  /*
  para substituir as duas linhas acima
  margin: 15% 0 0 30%;
  */
}

.banner-carrinho
{
  background-color: var(--cinza-claro-azulado);
  border-radius: 1%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: normal;
  font-family: "Lobster", sans-serif;
  font-size: 1.5rem;
  color: var(--marrom);
}

h3 {
  font-family: "Lobster", sans-serif;
  font-size: 5rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.produtos-lista {
  list-style: none;
  font-family: "Lobster", sans-serif;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  gap: 2vh;
  font-size: 2rem;
  align-self: flex-end;

}

.produto{
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 2vh 2vh 2vh 2vh;
  

}

.imagem {
  display: inline-flex;
  justify-content: flex-start;
  width: 40%;
  height: 40%;

  background-color: #0000;
  margin: 5% 0% 0% 9.5%;
}

.texto-produto {
 
  margin: 0;
  
  font-size: 2.5rem;
  font-weight: 700;
  display: inline-flex;
  align-items:     center;
  justify-content: center;
}


.efetuar-pagamento
{
display: flex;

}

.pagamentos
{
  height: 15vh;
  width:  60vh;
  background-color: var(--cinza-claro-azulado);
  border-radius: 2.5vh;
  padding: 1vh 2vh;
  font-family: "Poppins", sans-serif;
  font-size: 7vh;
  font-weight: 500;
  margin: 5vh 0vw 0vh 7vw;
  color: var(#ffff);
}

.pagamentos:hover{
  cursor: pointer;
  background-color: var(--vermelho-escuro);
}



@media (max-width: 600px)
{
  .tela
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tela-esquerda
  {
  padding: 1vh;
  margin: 1% 0% 0% 0%;
  }

  .tela-esquerdaa
  {
        display: flex;
    flex-direction: column;
    align-items:     center;
    justify-content: center;
    align-self:      center;

    gap: 2.5vh;
    margin: 0.09vh 1vh 0vh 1vh;
  }

  .forma-pagamento
  {
   display: flex;
   align-items: center;

    font-size: 6vh;
    text-align: center;
    white-space: nowrap;
      }
  .line2
  {
    border-radius: 1.2vw;
    width: 60vh;
    height: 0.9vh;
    background-color: var(--marrom); 
  } 
  

  .texto-esquerda
  {
    font-size: 5vh;
    font-weight: 100;
    color: var(--marrom);
  } 
  .linha
  {
    border-bottom: 0.3vw solid var(--marrom);
    border-radius: 1.0vw;
  }

  .svg
  {
    height: 5vh;
  }

  .pix
  {
    height: 7vh;
  }

  .seta
  {
    height: 3.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.1vh;
  }

  .quadros
  {
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }

  .aba
  {
    background-color: var(--cinza-claro-azulado);
    border-radius: 1.5vh;
    padding: 0.5vh 1vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .tela-direita
  {
    padding: .5vh;
    margin: 2% 0% 100% 0%;
  }

  .tela-direitaa
  {
    display: flex;
    flex-direction: column;
    column-width: 1.5vh;
    margin: 0.001vh .5vh 0vh .5vh;
    
  }

  .banner-carrinho
  {
    background-color: var(--cinza-claro-azulado);
    border-radius: 2.5%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: normal;
    font-size: 0.75rem;
    color: var(--marrom);
  }

  h3 
  {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
  }

  .produtos-lista
  {
    gap: .5vh;
    font-size: 1.1rem;
    align-self: flex-end;
    gap: 5vh;

  }

  .produto
  {
    margin: .5vh .5vh .5vh .5vh;
  }

  .imagem
  {
    width: 20%;
    height: 20%;

    background-color: #0000;
    margin: 1.75% 0 0 4.5%;
    
  }
 
  .texto-produto
  {
    font-size: 2rem;
    font-weight: 700;
 /* margin: 5vh 0vw 0vh 7vw; */
    color: #ffffff;
  }


  .pagamentos
  {
    height: 8vh;
    width: 60vh;
    
    border-radius: 1.75vh;
    padding: .5vh .75vh;
    font-size: 3.5vh;
    font-weight: 500;
/*  margin: 5vh 0vw 0vh 7vw; */


  }

}