
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.tela-esquerda
{
 padding: 1vh;
 margin: 5vh;

}

body{
    background-color: var(--bege-claro);
    color: var(--cinza-azulado);
}

.tela
{ 
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
 /*  display: flex;
  justify-content: space-between;
  */

}

.tela-esquerda
{
  display: flex;
  flex-direction: column;
  
}

.forma-pagamento
{
    font-family: "Lobster", sans-serif;
    font-size: 10vh;
    font-weight: 100;
    color: var(--marrom);
}

span
{
    font-family: "Lobster", sans-serif;
    font-size: 6vh;
    font-weight: 100;
    color: var(--marrom);
}

.svg{
    height: 4vh;

}