@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.tela-esquerda {
  padding: 1vh;
  margin: 5vh;

}

body {
  background-color: var(--bege-claro);
  color: var(--cinza-azulado);
}

.tela {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10vh;
}

.tela-esquerda {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 3vh;
  margin: 0.09vh 1vh 0vh 1vh;
  
}

.forma-pagamento {
  font-family: "Lobster", sans-serif;

  font-size: 10vh;
  font-weight: 100;
  color: var(--marrom);
  width: 50vh;
  white-space: nowrap;
}

.line2
{
  width: 175%;
  border-bottom: 0.5vw solid var(--marrom);
  border-radius: 0.2vw;
}

.texto-esquerda {
  font-family: "Lobster", sans-serif;
  font-size: 9vh;
  font-weight: 100;
  color: var(--marrom);
}

.linha {
  border-bottom: 0.5vw solid var(--marrom);
  border-radius: 0.2vw;
}

.svg {
  height: 9vh;
}

.pix {
  height: 11vh;
}

.quadros {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.aba {
  background-color: var(--cinza-claro-azulado);
  border-radius: 2vh;
  padding: 1vh 2vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tela-direita {
  display: flex;
  flex-direction: column;
  column-width: 15vh;
 margin: 12vh 2vw 2vh 23vw;
          /*vh, vw, vh, vw*/
  
}


.banner-carrinho {
    background-color: var(--cinza-claro-azulado);
    border-radius: 0.5vh;
    display: grid;
    grid-template-columns: 1fr;
    align-items: normal;
    font-family: "Lobster", sans-serif;
    font-size: 9vh;
    font-weight: 100;
    color: var(--marrom);
}

h3 {
    font-size: 7vh;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.produtos {
    list-style: none;
    font-family: "Lobster", sans-serif;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    gap: 2vh;
    font-size: 5vh;
    align-self: flex-end;
}

.texto-produtos {
    margin-left: 50%;
    display: flex;
    justify-content: space-between;
}

.imagem {
    margin-top: 10vh;
    height: 40vh;
    width: 20vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.efetuar-pagamento {
    display: flex;
}

.pagamentos {
    height: 15vh;
    width: 60vh;
    background-color: var(--cinza-claro-azulado);
    border-radius: 2.5vh;
    padding: 1vh 2vh;
    font-family: "Lobster", sans-serif;
    font-size: 8vh;
    font-weight: 300;
    margin: 5vh 0 0 7vw;
    color: #ffffff;
}



/* .banner-carrinho {
  background-color: var(--cinza-claro-azulado);
  border-radius: .5vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: normal;
  
  font-family: "Lobster", sans-serif;
  
  font-size: 9vh;
  font-weight: 100;
  color: var(--marrom);
}

h3
{
  font-size: 7vh;
  font-weight: 600;
  display: flex;
 justify-content: space-between;
}

.produto {
  display: flex;              
  align-items: center;        
  gap: 2vh;                  
}

.imagem {
  height: 10vh;              
  width: 10vh;               
  background-color: #d3d3d3;
  flex-shrink: 0;            
}

.texto-produtos {
  margin: 0;                  
  font-size: 4vh;           
  display: flex;
  justify-content: space-between; 
  width: 100%;              
  color: white;             
}

.efetuar-pagamento
{
display: flex;

}

.pagamentos
{
  height: 15vh;
  width:  60vh;
  background-color: var(--cinza-claro-azulado);
  border-radius: 2.5vh;
  padding: 1vh 2vh;
  font-family: "Lobster", sans-serif;
  font-size: 8vh;
  font-weight: 300;
  margin: 5vh 0vw 0vh 7vw;
  color: var(#ffff);
}
*/