:root
{
    --marrom: #362e26;
    --cinza-azulado: #62727F;
    --cinza-claro-azulado: #919DA9;
    --bege-claro: #F2E0C0;
    --vermelho-esscuro: #BF0D03;
    
}

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

html
{
    scroll-behavior: smooth;
}