
.tela-direita {
  height: 110vh;
  width: 80vh;

  display: flex;
  flex-direction: column;
  column-width: 15vh;
  margin: 10% 0% 0% 25%;
  /* margin: 12vh 2vw 2vh 23vw; */
  /*vh, vw, vh, vw*/

}

.banner-carrinho 
{
  background-color: var(--cinza-claro-azulado);
  border-radius: 1%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: normal;
  font-family: "Lobster", sans-serif;
  font-size: 1.5rem;
  color: var(--marrom);
}

h3 {
  font-family: "Lobster", sans-serif;
  font-size: 5rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.produtos {
  list-style: none;
  font-family: "Lobster", sans-serif;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  gap: 2vh;
  font-size: 2rem;
  align-self: flex-end;

}

.produto{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 2vh 2vh 2vh 2vh;
  

}

.imagem {
  display: flex;
  justify-content: left;
  width: 40%;
  height: 40%;

  background-color: #0000;
  margin: 5% 0% 0% 9.5%;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
}

.texto-produto {
 
  margin: 0;
  
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  align-items:     flex-end;
  justify-content: flex-end;

}

.pagamento
{

}


.efetuar-pagamento {
  display: flex;
}



.pagamentos
{
  display: flex;
  justify-content: center;
  align-items: center;

  
  background-color: var(--cinza-claro-azulado);
  border-radius: 2vh;
  height: 15vh;
  width: 60vh;
  padding: 1vh 2vh;
  margin: 5vh 0 0 7vw;  

  font-family: "Poppins", sans-serif;
  font-size: 6vh;
  font-weight: 600;

  color: #ffffff;
}





.pagamentos:hover {
  cursor: pointer;
}





/* 


ver.2

.banner-carrinho {
    background-color: var(--cinza-claro-azulado);
    border-radius: 0.5vh;
    display: grid;
    grid-template-columns: 1fr;
    align-items: normal;
    font-family: "Lobster", sans-serif;
    font-size: 9vh;
    font-weight: 100;
    color: var(--marrom);
}

h3 {
    font-size: 7vh;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.produtos {
    list-style: none;
    font-family: "Lobster", sans-serif;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    gap: 2vh;
    font-size: 5vh;
    align-self: flex-end;
}

.texto-produtos {
    margin-left: 50%;
    display: flex;
    justify-content: space-between;
}

.produto
{
 display: flex;
 justify-content: center;
 align-items:     center;
}

.imagem {
    height: 40vh;
    width: 100vh;
    /* max-height: 40vh;
    max-width: 20vh; */
/* background-color: black; */
/* margin: 5% 0% 0% 9.5%; 
}*/





/*
Ver.1


.banner-carrinho {
  background-color: var(--cinza-claro-azulado);
  border-radius: .5vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: normal;
  
  font-family: "Lobster", sans-serif;
  
  font-size: 9vh;
  font-weight: 100;
  color: var(--marrom);
}

h3
{
  font-size: 7vh;
  font-weight: 600;
  display: flex;
 justify-content: space-between;
}

.produto {
  display: flex;              
  align-items: center;        
  gap: 2vh;                  
}
.imagem {
  height: 10vh;              
  width: 10vh;               
  background-color: #d3d3d3;
  flex-shrink: 0;            
}

.texto-produtos {
  margin: 0;                  
  font-size: 4vh;           
  display: flex;
  justify-content: space-between; 
  width: 100%;              
  color: white;             
}

.efetuar-pagamento
{
display: flex;

}

.pagamentos
{
  height: 15vh;
  width:  60vh;
  background-color: var(--cinza-claro-azulado);
  border-radius: 2.5vh;
  padding: 1vh 2vh;
  font-family: "Lobster", sans-serif;
  font-size: 8vh;
  font-weight: 300;
  margin: 5vh 0vw 0vh 7vw;
  color: var(#ffff);
}
*/