<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gardênia Crochet-Login</title>
    <link rel="stylesheet" href="styles/styleLogin.css"> <!--Uso para linkar o html ao css-->
    <link rel="stylesheet" href="styles/global.css">
</head>

<body>
    <main class="login">
        <!--Lado esquerdo-->
        <aside class="lado_esquerdo">
            <img src="assets/login/logo.svg" alt="Logo Gardênia Crochet" class="logo">
            <p class="descricao">Loja online de peças <br> artesanais em crochet</p>
            <a href="#" class="cadastro">Cadastre-se</a>
        </aside>

        <!--Lado direito-->
        <section class="lado_direito">
            <header class="cabecalho_login">
                <h2 class="titulo_login">Bem vindo(a)!</h2>
                <p class="subtitulo_login">Entre para adquirir peças unicas</p>
            </header>
            <form class="formulario_login">
                <label  for="email">Email:</label>
                <input type="email" id="email" placeholder="email@email.com" required>

                <div class="campo_senha">
                    <label for="senha">Senha:</label>
                    <input type="senha" id="senha" placeholder ="********" required>
                    <span class="icone_olho">
                        <img src="assets/login/eye.svg" alt="">
                    </span>
                </div>
                <button type="submit" class="botao_login">ENTRAR</button>

                <a href="#" class="link_esqueci">Esqueceu sua senha?</a>

                @* <p class="erro_login" (@ViewBag.Erro != null ? "mostrar" : "")>E-mail ou senha incorretos</p> *@
            </form>
        </section>
    </main>
</body>

</html>