body{
    background-color:#F2E0C0;
    color: var(--texto-escuro);
}

.login
{
display: grid;
grid-template-columns: 1fr 2fr;
height: 100vh;
}
 
/*Lado esquerdo*/
.lado_esquerdo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding: 90px;
    border-radius: 20px;
    text-align: center;
    background-color: var(--cinza-claro-azulado);
    color: var(--cinza-branco);
}

.logo
{
    margin: 5%;
    width: 255px;
}

.descricao
{
    margin: 0 0 60px;
    font-size: 18.5px;
    font-weight: 600;
    font-family:'Poppins';
}
.cadastro
{
    font-size: 16.5px;
    font-weight: 600;
    font-family: 'Poppins';
    color: var(--bege-claro);
}
/*Lado direito*/
.lado_direito
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 50px;
    padding: 40px 60px;
}

.titulo_login
{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lobster';
    font-size: clamp(1.75rem, 0.90rem + 4.25vw, 3.125rem);
    font-weight: 100;
    color: var(--marrom);
}

.subtitulo_login
{
    margin: 8px;
    color: var(--marrom);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-weight: 600;
}

.formulario_login
{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--vermelho-escuro);
}

label 
{
    align-self:flex-start;
    margin: 50px;
    font-weight: 600;
    margin: 5% 0;
    color: var(--marrom);
}

input
{
    padding: 8px;
    border: 2px solid;
    border-color: var(--borda-azul-escura);
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    background-color: var(--cinza-claro-azulado);
    color: var(--cinza-azulado);

}

.campo_senha
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.icone_olho
{
    position: absolute;
    right:5%;
    top: 85%;
    transform: translateY(-50%); /*move o elemento para cima, metade da usa propria altura*/
}

.botao_login
{
    margin: 20px;
    background-color: var(--cinza-claro-azulado);
    color: var(--marrom);
    padding: 10px;
    border: 2px solid;
    border-color: var(--borda-azul-escura);
    border-radius: 10px;
    font-weight: 600;
    font: size 20px; ;
    width: 100%;
}

.botao_login:hover
{
    color: var(--cinza-branco);
    background-color: #26394e;
    cursor: pointer;
}

.link_esqueci
{
    margin: 13.5px;
    text-align: center;
    font-size: 14.5px;
    text-decoration: underline;
    font-weight: 600;
    color: var(--marrom);
    margin-top: 10px;
}


.erro-login
{
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    display: none; /*Esconde o elemento na tela*/
}

/*! AJUSTES RESPONSIVIDADE -MEDIA QUERY */

@media (max-width: 900px) {
    .login {
        grid-template-columns: 1fr;
    }

    .lado_esquerdo {
        margin: 0;
        border-radius: 0px 0px 20px 20px;
    }

    .descricao {
        font-size: 1.1em;
        max-width: 55%;
    }

   /* .logo {
        display: none;
    }
*/
}

@media (max-width: 600px) {
    .formulario_login {
        width: 100%;
    }

    .campo_senha {
        width: 100%;
    }
}