body {
    background-color: #F2E0C0;
    color: var(--texto-escuro);
}

.login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.lado_esquerdo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8vh 8vw 8vh 8vw;
    border-radius: 20px;
    text-align: center;
    background-color: var(--cinza-azulado);
    border: 5px solid var(--borda-azul-escura);
    color: var(--cinza-branco);
    height: 85vh;
}

.logo {
    margin: 0 0 10vh 0;
    width: 255px;
}

.descricao {
    margin: 0 0 60px;
    font-size: 1.125rem;
    font-weight: 600;
    font-family: 'Poppins';
}

.cadastro {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Poppins';
    color: var(--bege-claro);
    margin: 0 0 5vh 0;
}

.cadastro:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.6rem;
    color: var(--cinza-branco);
}

.lado_direito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 50px;
    margin: 6vh 8vw 8vh 0;
}

.titulo_login {
    margin: 2vh 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lobster';
    font-size: 3rem;
    font-weight: 100;
    color: var(--marrom);
}

.subtitulo_login {
    color: var(--marrom);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.5rem;
}

.formulario_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--vermelho-escuro);
    width: 70%;
}

label {
    align-self: flex-start;
    margin: 50px 10vw 0 0;
    font-weight: 600;
    margin: 5% 0 5px 0;
    color: var(--marrom);
    font-size: 1.5rem;
    font-family: 'Poppins';
}

input {
    border: 3px solid #362e26;
    border-radius: 10px;
    height: clamp(7vh, 15vh, 6vh);
    width: 30vw;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    font-size: clamp(1vw, 1.5vw, 1.3rem);
    font-weight: 600;
    text-align: left;
    padding-left: 2%;
    color: var(--marrom);

}

.campo_senha {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.icone_olho {
    position: absolute;
    right: 3%;
    top: 80%;
    transform: translateY(-40%);
}

.botao_login {
    width: 20vw;
    height: clamp(2vw, 3vw, 5.7vh);
    border-radius: .8vw;
    border: .25vw solid var(--borda-azul-escura);
    font-size: clamp(1vw, 1.8vw, 1.5rem);
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: var(--marrom);
    background-color: var(--cinza-claro-azulado);
    margin: 3rem auto 3.5vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao_login:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: transparent;
    color: var(--borda-azul-escura);
}

.link_esqueci {
    margin: 13.5px;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    font-weight: 600;
    color: var(--marrom);
    margin-top: 10px;
    font-family: 'Poppins';
}


.erro-login {
    font-weight: 600;
    text-align: center;
    font-family: 'Poppins';
    margin-top: 20px;
    display: none;
}

/*! AJUSTES RESPONSIVIDADE -MEDIA QUERY */

@media (max-width: 900px) {
    .login {
        grid-template-columns: 1fr;
    }

    .lado_esquerdo {
        margin: 0;
        border-radius: 0px 0px 20px 20px;
    }

    .descricao {
        font-size: 1.1em;
        max-width: 55%;
    }

}

@media (max-width: 600px) {

    .lado_esquerdo {
        height: 100vh;
        border: none;
        border-radius: 0;
    }

    .logo {
        width: 180px;
        margin-bottom: 5vh;
    }

    .titulo_login {
        font-size: 2rem;
    }

    .subtitulo_login {
        font-size: 1rem;
    }

    .formulario_login {
        width: 100%;
    }

    .campo_senha {
        width: 100%;
    }

    .lado_direito {
        margin: 4vh 4vw 4vh 4vw;
    }

    label {
        margin: 6vh 5vw 1vh 11vw;
        font-size: 1rem;
    }

    input {
        font-size: clamp(1rem, 2rem, 1.3rem);
        height: 5vh;
        width: 70vw;
        font-size: 1rem;
    }

    .botao_login {
        width: 30vw;
        height: 4vh;
        font-size: 0.8rem;
        margin: 1.8rem auto 1.5vh auto;
    }

    .link_esqueci {
        margin: 10px;
        text-align: center;
        font-size: 1rem;
    }
}